@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 375px;
    
}
.main{
    width: 100vw;
}

    

.head{
    padding-left: 5px;
    display: flex;
}
.home{
    width: 100vw;
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.icon{
    padding: 10px;
    width: 55px;
    border-right: 1px solid #444;
    padding-right: 5px;
    
}
.text-image{
    color: white;
    font-weight: 700px;
    font-size: 20px;
    width: 100vw;
    height: 700px;
    display: flex;
  justify-content: center;
  align-items: center;
  background: url(./juice.webp) center/cover;
  background-repeat: no-repeat; 
  display: flex; 
  flex-direction: column;
  animation-name: example;
  animation-duration: 2s;
   
   
}

  @keyframes example {
  from { background: url(./juice.webp) center/cover; }
  to {background:url(./restorant.webp) center/cover;}
  }
  
   
.start{
    margin-top: 10px;
    border: 2px solid white;
    /* padding: 5px 10px; */
}

.lorem{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;

    color: #868e96;
}

.rest{
    font-weight: 800;
    margin-top: 30px;
}
.second{
    
    display: flex;
    flex-direction: column;
}
.photo img {
    max-width: 100vw;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    
    
}
.dolor{
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
}
.photo1 img {
    margin-top: 30px;
    width: 30%;
}
.best p {
    font-size: 18px;
    color: #868e96;
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;

}
.good{
    font-weight: 800;
    padding-top: 30px;
}

.best{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px;

}
.empty{
    height: 100px;
    background-color: #F8F9FA;
    transform: skewY(-17deg);
}
.dish img{
    width:90% ;
    padding-left: 35px;
    margin-top: 30px;
}
.dish2 img{
    width:90% ;
    padding-left: 35px;
    margin-top: 10px;
}
.dish3 img {
    width:90% ;
    padding-left: 35px; 
    margin-top: 10px;
}
.menu{
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
}
.web  {
    background: url(./spaghetti.webp) center/cover ; 
    width: 100%;
    height: 600px;
    margin-top: 40px;
     
}

.baked{
    text-align: center;
    padding-top: 200px;

}
.baked h1 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
}
.baked p{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.test h1{
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
    font-weight: 800;

}
.card1 img{
    width: 90%;
    padding-left: 30px;
    margin-top: 40px;
    
}
.price1{
    padding-left: 35px;
    margin-top: 25px;
    line-height: 1.4;
    width: 82%;
    
}
.many{
    padding-top: 10px;
    font-size: 30px;
    color: orangered;
}
.new{
    font-size: 20px;
}
.lorem1{
    padding-top: 3px;
    font-size: 16px; 
    color: #868e96;
    
    font-family: 'Open Sans', sans-serif;

}
.far p{
    width:97% ;
    padding-left: 30px;
    padding-top: 50px;
}
.account img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   
}
.account{
    padding-left: 30px;
}
.inform{
    display: flex;
    margin-top: 20px;
    
}
.test h1:before{
    border: 2px solid orange;
    width: 80px;
    left: 50%;
}
.howard{
    margin-top: 20px;
    margin-left: 5px;
}
.howard h4{
    color: black;
    font-family: 'DM Serif Display', serif;
}
.howard{
    color: #cccc;
    font-size: 14px;
}
.taste {
    margin-left: 30px;
    margin-top: 10px;
    
}
.date{
    padding-top: 5px;
    
}
.far{
    padding-top: 10px;
    width: 80%;
}
.read{
    margin-top: 20px;
    width: 100px;
    background-color: orangered;
    padding: 5px;
    padding-left: 10px;
    color: white;

}
.food{
    color: orangered;
    font-size: 20px;
}
.date , .far  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#868e96;
}

footer{
    margin-top: 100px;
    padding-left: 30px;
}
.end .lorem1{
    padding-top: 15px;
    width: 90%;
}
.picture{
    display: flex;
    margin-top: 20px;
}
.logo img{
    width: 33px;
    padding-right: 15px;
}
ul{
    text-decoration: none;
}

.spisok{
    padding-top: 40px;
}
.font{
    padding-top: 15px;
    line-height: 1.5;
}
.day{
    color: #000;
}
.number{
    color: #868e96;
    
}
.info{
    padding-top: 35px;
}
ul{
    list-style-type: none;
    padding-top: 10px;
}
.guik{
    padding-top: 30px;
    line-height: 1.8;
}
.about{
    line-height: 1.8;
    color: orangered;
}
.about p:hover{
    color: #74450f;
}


 



