@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 375px;
    
}
.main{
    width: 100vw;
   
}

.head{
    padding-left: 5px;
    display: flex;
}
.home{
    width: 100vw;
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.servic{
    display: none;
}
.icon{
    padding: 10px;
    width: 55px;
    border-right: 1px solid #444;
    padding-right: 5px;
    
}
.text-image{
    color: white;
    font-weight: 700px;
    font-size: 20px;
    width: 100vw;
    height: 700px;
    display: flex;
  justify-content: center;
  align-items: center;
  background: url(./juice.webp) center/cover;
  background-repeat: no-repeat; 
  display: flex; 
  flex-direction: column;
  animation-name: example;
  animation-duration: 2s;

}

  @keyframes example {
  from { background: url(./juice.webp) center/cover; }
  to {background:url(./restorant.webp) center/cover;}
  }
  
   
.start{
    margin-top: 10px;
    border: 2px solid white;
    padding: 10px 15px;
}
.gourmet{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.special{
    color: chocolate;
}

.lorem{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;

    color: #868e96;
}

.rest{
    font-weight: 800;
    margin-top: 10px;
}


.second{
    
    display: flex;
    flex-direction: column;
}
.photo img {
    max-width: 100vw;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    
    
}
.dolor{
    width: 100vw;
    padding-left: 15px;

}

.photo1 img {
    margin-top: 30px;
    width: 30%;
}
.best p {
    font-size: 18px;
    color: #868e96;
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;

}
.good {
    font-weight: 900;
    padding-top: 10px;
    text-align: center;

}

.best{
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.dish img{
    width:90% ;
    padding-left: 25px;
    margin-top: 30px;
}
.dish2 img{
    width:90% ;
    padding-left: 25px;
    margin-top: 26px;
}
.dish3 img {
    width:90% ;
    padding-left: 25px; 
    margin-top: 26px;
}
.menu{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'DM Serif Display', serif;
   
}

.web  {
    background: url(./spaghetti.webp) center/cover ; 
    width: 100%;
    height: 600px;
    margin-top: 40px;
    filter: brightness(70%);
    
     
}

.web:hover{
    transform: scale(1.1);
}
.web2:hover{
    transform: scale(1.1); 
}
.web3:hover{
    transform: scale(1.1); 
}
.web2{
    background: url(./dish4.webp) center/cover; 
    width: 100%;
    height: 600px;
    margin-top: 40px;
    display: none;
     filter: brightness(70%);
}
.web3{
    background: url(./dish5.webp) center/cover; 
    width: 100%;
    height: 600px;
    margin-top: 40px;
    display: none; 
    filter: brightness(70%);
}

.baked{
    text-align: center;
    padding-top: 200px;

}
.baked h1 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
}
.baked p{
    color: #fff;
    font-weight: 800;
    font-size: 30px;
}
.test h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
}

.menu-photo{
    background: url(./dish1.webp) center/cover;
    height: 300px;
    width: 100vw;
    
}
.menu-photo1 , .menu-photo6{
    background: url(./dish2.webp) center/cover;
    height: 300px;
    width: 100vw;
    
}
.menu-photo1   {
    
    background: url(./dish3.webp) center/cover;
    height: 300px;
    width: 100vw;
    
}
.menu-photo2{
    background: url(./dish2.webp) center/cover;
    height: 300px;
    width: 100vw;
}
.menu-photo3 , .menu-photo7 {
    background: url(./dish4.webp) center/cover;
    height: 300px;
    width: 100vw;
}
.menu-photo4{
    background: url(./dish5.webp) center/cover;
    height: 300px;
    width: 100vw;
    
}
.menu-photo5{
    background: url(./dish3.webp) center/cover;
    height: 300px;
    width: 100vw;
    
}
  .card1{
    background: url(./dish2.webp) center/cover; 
    height: 400px;
    width: 100vw;
    
}
.card2{
    background: url(./dish3.webp) center/cover; 
    height: 400px;
    width: 100vw;
}


.price1{
    padding-left: 35px;
    margin-top: 25px;
    width: 100vw;
  
}
.inst{
    margin-top: 80px;
}
.blog{
    margin-top: 20px;

}
.many{
    padding-top: 10px;
    font-size: 30px;
    color: orangered;
}
.new{
    font-size: 20px;
}
.lorem1{
    padding-top: 3px;
    font-size: 16px; 
    color: #868e96;
    
    font-family: 'Open Sans', sans-serif;

}
.away p{
    width:97% ;
    padding-left: 10px;
    padding-top: 50px;
    line-height: 1.5;
    font-size: 20px;
}
.account img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   
}
.account{
    padding-left: 30px;
}
.inform{
    display: flex;
    margin-top: 20px;
    
}
/* .testimonial{
    margin-top: 150px;
} */

.howard{
    margin-top: 20px;
    margin-left: 5px;
}
.howard h4{
    color: black;
    font-family: 'DM Serif Display', serif;
}
.howard{
    color: #cccc;
    font-size: 14px;
}
.taste {
    max-width: 100vw;
    margin-left: 30px;
    margin-top: 10px;
    
}
.date{
    padding-top: 5px;
    
}
.far{
    padding-top: 10px;
    width: 80%;
}
.read{
    margin-top: 20px;
    width: 100px;
    background-color: orangered;
    padding: 5px;
    padding-left: 10px;
    color: white;

}
.inside{
    margin-top: 50px;
}
.food{
    color: orangered;
    font-size: 20px;
}
.date , .far  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#868e96;
}

footer{
    margin-top: 100px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.end h3 , .info h3 , .comp .font , .spisok h4 , .hour , .links h3 {
    color: #000;
}


.end .lorem1{
    padding-top: 15px;
    width: 90%;
}
.picture{
    display: flex;
    margin-top: 20px;
}
.logo img{
    width: 33px;
    padding-right: 15px;
    
}

ul{
    text-decoration: none;
}

.spisok{
    padding-top: 40px;
}
.font{
    padding-top: 15px;
    line-height: 1.5;
}

.day{
    color: #000;
}
.number{
    color: #868e96;
    
}
.info{
    padding-top: 35px;
}
ul{
    list-style-type: none;
    padding-top: 10px;
}
.guik{
    padding-top: 30px;
    line-height: 1.8;
}
.about{
    line-height: 1.8;
    color: orangered;
}
.about p:hover{
    color: #74450f;
}

/* .test{
    padding-top: 40px;
} */
.empty-best{
    width: 90px;
    border: 1.5px solid orangered;
    margin-left: 46%;
    margin-top: 115px;
}
.child{
    margin-left: 2px;
}


 @media (min-width:900px) {
    body{
        width: 100vw;
    }
    .header{
        position: relative;
    }
    .home{
        position: absolute;
    }
    .servic{
        display: block;
        flex-direction: row;
        margin-right: 30px;
    }
    .icon{
        display: none;
    }
    .home{
        background-color: transparent;

    }
    
    .head{
        margin-top: 38px;
        padding-left: 20px;
       
    }
    .list{
        margin-top: 35px;
        display: flex;
        flex-direction: row; 
        padding-right: 20px;
        
    }
    li{
        padding: 0 8px 20px 8px;
        font-size: 18px;

    }
    .photo img{
        padding-left: 10%;
        max-width: 80%;
       
    }

    .dolor{
        padding-right: 1px;
        margin-right: 80px;
    }
    
    .row{
        display: flex;
        flex-direction: row;
    }
    
    .best{
        width: 100%;
        
    }
    .second{
        display: flex;
        flex-direction: row;
    }
    .dish3 img{
        padding-left: 10px;
    }
   
    .web2{
        display: block;
        width: 30%;
        margin-right: 2%;
    }
    .web3{
        display: block;
        width: 30%;
        margin-right: 2%;
    }
    .web{
        width: 30%;
        margin-right: 2%;
    
    }
    .menu2{
        display: flex;
        flex-direction: row;
        margin-left:40px;
    }
    
    .about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .seti{
       max-width: 35%;
       margin-left: 45px;
    
    }
    
    .links{
        max-width: 35%;
        margin-right: 50px;

    }
    
    .spisok{
        padding-top: 0px;
    }
    .form1{
        margin-right: 100px;
    }
    .menu-photo ,.menu-photo1 , .menu-photo2 , .menu-photo3 , .menu-photo4 , .menu-photo5 , .menu-photo5 , .menu-photo6 , .menu-photo7 {
        width: 50%;
        height: 200px;
        
    }
    .price1{
        width: 50%;
        height: 200px; 
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .inside{
        max-width: 97%;
        padding-left: 35px;
        padding-right: 15px;
        margin-top: 75px;
    }
    .reverse1 , .reverse6 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .reverse2 , .reverse5{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
       
        
    }
    .first , .ipsum ,.third , .four {
        
        display: flex;
        flex-direction: row;
    }
    .our-test{
        margin-top: 15px;
    }
    .reverse3 , .reverse7{
        display: flex;
        flex-direction: row;
    }
    .reverse4 , .reverse8{
        display: flex;
        flex-direction: row;
    }
    .card1 , .card2{
        width: 90%;
        height: 300px;
    }
    .taste{
        width: 90%;
    }
    

    .inst{
        padding-left: 40px;
        display: flex;
        flex-direction: row;
    }
    .footer{
        margin-top: 200px;
    }
    .best p{
        width: 93%;
        padding-left: 40px;
    }
    .testimonial{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .away{
        width: 50%;
    }
    .howard{
        margin-right: 370px;
    }

}
    

    

    

     